<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing APP</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
      <div class="main">
          <div class="imagelogo">
              <img src="/image/google-docs.png"/>
              <h1>File Sharing App</h1>
          </div>   
      <div class="container">
    <img src="/image/google-docs.png"/>
    <h2>File is ready to download</h2>
      <h3>Filename: {{filename}}</h3>
      <P>Size: {{filesize }} MB</P>
     <a href={{download}}> Download file</a>
      </div>
      </div>
</body>
</html>